<div class="container">

  <div class="row">
    <div class="col-md-8">
      <ul class="media-list">
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Bachint Geol</h4>
            <p>San Francisco State University</p>
          </div>
        </li>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Bachint Geol</h4>
            <p>San Francisco State University</p>
          </div>
        </li>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Bachint Geol</h4>
            <p>San Francisco State University</p>
          </div>
        </li>
        <li class="media">
          <a class="pull-left" href="#">
            <img class="media-object" src="http://placehold.it/64x64" alt="...">
          </a>
          <div class="media-body">
            <h4 class="media-heading">Bachint Geol</h4>
            <p>San Francisco State University</p>
          </div>
        </li>

      </ul>
    </div>

    <div class="col-md-4">
      <div class="alert alert-success">Advanced Filter</div>

      <div class="alert alert-success" style="margin-bottom: 0">Institutions</div>
      <div class="well">
        <div class="checkbox">
          <label>
            <input type="checkbox" value="">SJSU (12)
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="">UCLA (23)
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="">U Of M (33)
          </label>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="" checked>SFSU (4)
          </label>
        </div>
      </div><!-- /well -->

      <div class="alert alert-success">Likes</div>
      <div class="alert alert-success">Reviews</div>
      <div class="alert alert-success">Comments</div>

    </div>
  </div>

  <hr>

  <footer>
    <div class="row">
      <div class="col-md-12">
        <p>Copyright &copy; TeachLab 2013</p>
      </div>
    </div>
  </footer>

</div><!-- /.container -->